[Desktop Entry]
Type=Application
Version=1.0
Name=WhatsApp Desktop
Comment=WhatsApp Desktop unofficial client
Exec=/opt/whatsapp-desktop/WhatsApp
StartupNotify=false
Terminal=false
Categories=Network;InstantMessaging;
Icon=whatsapp
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=WhatsApp Desktop
Comment[en_US]=WhatsApp Desktop unofficial client
X-GNOME-Autostart-Delay=15
